<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIRCONNECT</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheetQues.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg py-0 navbar-dark bg-dark">
        <a class="navbar-brand m-0"><span style="color: white">AIRCONNECT</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02 ">
            <div class="navbar-nav mt-2 mt-lg-0">
                {{#ifNotEqual user.username 'admin1'}}
                    <div class="col-lg-12"></div>
                    <div class="col-lg-12"></div>
                    <div class="col-lg-2"></div>
                    <div class="nav-item col-lg-auto my-auto"  >
                        Welcome, {{user.username}}
                    </div>
                {{/ifNotEqual}}
                {{#ifEquals user.username 'admin1'}}
                    <div class="col-lg-12"></div>
                    <div class="col-lg-6"></div>
                    <div class="nav-item col-lg-auto my-auto"  >
                        Welcome, {{user.username}}
                    </div>
                    <div class="nav-item mt-2 col-lg-auto mb-1">
                        <button class="btn btn-light mb-1" type="submit" onclick="location.href='/pages/addFlight'" style="color: black">Add Flight</button>
                    </div>
                {{/ifEquals}}
                <div class="nav-item mt-2 col-lg-auto mb-1" style=" padding-left: 0px">
                    <button class="btn btn-light mb-1" type="submit" onclick="location.href='/users/signin'">Sign Out</button>
                </div>
            </div>
        </div>
    </nav>
    <div id="homePage">
        <div id="searchFlight">
            <div class="h1">Search for a Flight</div>
            <form class="form-inline">
                <input class="form-control col-md-5" type="search" placeholder="Enter Flight Number" name="SearchFlight">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        {{#if flights}}
            <div id='bar-contain'>
                <div id='flight-section' class="flight-number title col-lg-4">Flight#</br>
                    <span class="tracker-font">{{flights.FlightNumber}}</span>
                </div>
                <div id='flight-section' class="flight-number title time-remaining col-lg-4">Flight Duration</br>
                    <span class="tracker-font">
                        <span class="tracker-font-highlight">{{flights.FlightDuration}}</span>
                    </span>
                </div>
                <div id='flight-section' class="title">Origin</br>
                    <span class="tracker-font">{{flights.FlightSource}}</span>
                </div>
                <div id='flight-path-before'></div>
                <a href="#"> <img id="plane" src="http://stellar-road.com/wp-content/uploads/2018/01/plane.svg"></a>
                <div id='flight-path-remaining'></div>
                <div id='flight-section' class="title align-right flight-number">Destination</br>
                    <span class="tracker-font-highlight align-right">{{flights.FlightDestination}}</span>
                </div>
            </div>
        {{/if}}
    </div>
</body>
</html>




 <!--<div id="homeQ-A">
    {{#if flights}}
        <div id="homeCard" class="row">
            <div class="col-10">
                <div id="homeQues">FLight Number: {{flights.FlightNumber}}</div>
                <div id="homeAns">Ans: {{flights.FlightName}}</div>
            </div>
            <div class="col-1" >
                <button id="DeleteQues"  data-id="{{id}}"><i class="fa fa-trash fa-lg"></i></button>
            </div>
            <div class="col-1" id="homeIconEdit">
                <button id="editQues"  data-id="{{id}}" ><i class="fa fa-edit fa-lg"></i></button>
            </div>
        </div>
    {{/if}}
</div>-->
